<div class="modal-header modalHead ">
	<h4 class="modal-title">Patient Information</h4>
</div>
<div class="modal-body modalBody"  style="position:relative; z-index:1;">
	<div class="alert alert-danger alert-dismissable" data-ng-show="error">
        <div>{{errorMessage}}</div>
        <div id="lblMsg_modal"></div>
    </div>


    	<div  class="row" id="validateReq">
   			<div class="form-group col-xs-6 col-md-6 col-sm-6">
   				<label>Patient  Name: <span class="red" >*</span></label>
				<input type="text" data-ng-model="patientData.firstName" typeahead="patients.firstName + ' (' + patients.patientCode + ')' for patients in getPatients($viewValue, 1)"  class="form-control" placeholder="Search Patients By Name" typeahead-on-select='populatePatientInfo($item, $model, $label)'/>
			</div>

			<div class="form-group col-xs-6 col-sm-6">
				<label>Patient  Code: <span class="red" >*</span></label>
				<input data-ng-disabled="isSelected" type="text" data-ng-model="patientData.patientCode" typeahead="patients.patientCode for patients in getPatients($viewValue, 0)"  class="form-control" placeholder="Search Patients By ID" typeahead-on-select='onSelectNamePatientCode($item, $model, $label)'/>
			</div>
			
			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>{{patientData.dob ? 'Date of Birth' : 'Age'}} <span class="red" >*</span>
				</label>
				<i data-ng-disabled="!isSelected" class="fa fa-calendar pull-right link" data-ng-click="patientData.dob = true" data-ng-show="!patientData.dob"></i>
				<i data-ng-disabled="!isSelected" class="fa fa-sort-numeric-asc pull-right link" data-ng-show="patientData.dob" data-ng-click="patientData.dob = false"></i>
				<input data-ng-disabled="!isSelected" data-ng-show="patientData.dob" type="text"  class="form-control form-control-date input-sm" data-ng-model="patientData.dateOfBirth"   maxlength="100" placeholder="Date of Birth"
					   datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true" >
				<input data-ng-show="!patientData.dob" class="form-control" type="text" maxlength="6" data-ng-model="patientData.age" errmsg="Please enter patient age">
			</div>
			
			<div class="form-group col-sm-12 col-md-6 col-lg-6" >
				<label>Gender:</label> 
				<select data-ng-model="patientData.sex" class="form-control" data-ng-disabled="!isSelected">
					<option value="MALE">Male</option>
					<option value="FEMALE">Female</option>
					<option value="OTHER">Other</option>
				</select>
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Occupation:</label>
				<select data-ng-model="patientData.occupation" class="form-control" data-ng-disabled="!isSelected">
					<option value="HOUSEEWIFE">Housewife</option>
					<option value="SERVICE">Service</option>
					<option value="BUSINESS">Business</option>
					<option value="STUDENT">Student</option>
					<option value="NA">N/A</option>
				</select>
			</div>

			
			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Phone:</label> 
				<input type="text" data-ng-model="patientData.contactNo" typeahead="patients.contactNo for patients in getPatients($viewValue, 2)"  class="form-control" placeholder="Search Patients By Phone" typeahead-on-select='populatePatientInfo($item, $model, $label)'/>
			</div>
			
			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Address:</label> 
				<input data-ng-disabled="!isSelected" class="form-control" type="text" maxlength="100" data-ng-model="patientData.address">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Referred By:</label>
				<input data-ng-disabled="!isSelected" class="form-control" type="text" maxlength="100" data-ng-model="patientData.referredBy">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Hospital name:</label>
				<input data-ng-disabled="!isSelected" class="form-control" type="text" maxlength="100" data-ng-model="patientData.hospitalName">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6" >
				<label>Bed:</label>
				<input data-ng-disabled="!isSelected" class="form-control" type="text" maxlength="100" data-ng-model="patientData.bedNum">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Ward:</label>
				<input data-ng-disabled="!isSelected" class="form-control" type="text" maxlength="100" data-ng-model="patientData.wardNum">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Head of unit:</label>
				<input data-ng-disabled="!isSelected" class="form-control" type="text" maxlength="100" data-ng-model="patientData.headOfUnit">
			</div>
    	</div>
	
</div>
<div class="modal-footer modalFoot">
	<button class="btn btnLanier btn-success" data-ng-click="save()" >
		<span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save and Add Appointment
	</button>
	<button class="btn btnLanier btn-danger" data-ng-click="cancel()" >
		<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel
	</button>
</div>